@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #202632;
  --secondary-color: #313A49;
  --tetiary-color: ;
  --text-color: hsl(193,38%,86%);
  --btn-color: #000;
}
.dark-mode{
  --primary-color: #202632;
  --secondary-color: #313A49;
  --tetiary-color: ;
  --text-color: hsl(193,38%,86%);
  --btn-color: #000;
}
.light-mode{
  --primary-color: rgb(214,219,220);
  /* --secondary-color: hsl(193,23%,77%);
  --tetiary-color: ; */
  --text-color: #000;
  /* --btn-color: #fff; */
}

::-webkit-scrollbar {
  width: 10px; 
} 
::-webkit-scrollbar-track {
  background: #313A49;  
} 
::-webkit-scrollbar-thumb {
  background: #b7b7b7; 
  border-radius: 10px; 
}


.blur-shadow{
  box-shadow: 0px 10px 34px hsl(150,100%,66%);
}
.blur-shadow:hover{
  box-shadow: 0px 14px 54px hsl(150,100%,66%);
}
.animation{
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}